<div>
  <h2 id="page-heading" data-cy="ATMHeading">
    <span jhiTranslate="frontApp.backendATm.home.title">ATMS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="frontApp.backendATm.home.refreshListLabel">Refrescar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-atm"
        [routerLink]="['/atm/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="frontApp.backendATm.home.createLabel"> Crear nuevo ATM </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="aTMS?.length === 0">
    <span jhiTranslate="frontApp.backendATm.home.notFound">Ningún ATMS encontrado</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="aTMS && aTMS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="estado">
            <div class="d-flex">
              <span jhiTranslate="frontApp.backendATm.estado">Estado</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tipo">
            <div class="d-flex">
              <span jhiTranslate="frontApp.backendATm.tipo">Tipo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="saldodisponible">
            <div class="d-flex">
              <span jhiTranslate="frontApp.backendATm.saldodisponible">Saldodisponible</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ubicacion">
            <div class="d-flex">
              <span jhiTranslate="frontApp.backendATm.ubicacion">Ubicacion</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="transacciones.id">
            <div class="d-flex">
              <span jhiTranslate="frontApp.backendATm.transacciones">Transacciones</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let aTM of aTMS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/atm', aTM.id, 'view']">{{ aTM.id }}</a>
          </td>
          <td>{{ aTM.estado }}</td>
          <td>{{ aTM.tipo }}</td>
          <td>{{ aTM.saldodisponible }}</td>
          <td>{{ aTM.ubicacion }}</td>
          <td>
            <div *ngIf="aTM.transacciones">
              <a [routerLink]="['/transaccion', aTM.transacciones.id, 'view']">{{ aTM.transacciones.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/atm', aTM.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Vista</span>
              </button>

              <button type="submit" [routerLink]="['/atm', aTM.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
              </button>

              <button type="submit" (click)="delete(aTM)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Eliminar</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="aTMS && aTMS.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
